{
  "id":"testpolicy_id",
  "name":"testpolicy",
  "source":{
    "@type":"CSV_FILE",
    "filepath":"dwarves.csv",
    "delimiter":",",
    "qualifier":"",
    "unescapeInput":false,
    "columnCount":2,
    "hasHeaderRow":true
  },
  "destination":{
    "@type":"CSV_FILE",
    "filepath":"dwarves_token"
  },
  "fpemode":"ASCII",
  "createBadRecordFile":true,
  "tables":[
    {
      "columns":[
        {
          "name":"Name",
          "action":"TOKENIZE",
          "config":[
            {
              "@type":"TOKENIZE",
              "tokenTemplate":"fpe-all-ascii-tt",
              "tokenGroup":"cts-tg"
            }
          ]
        },
        {
          "name":"emailid",
          "action":"TOKENIZE",
          "config":[
            {
              "@type":"TOKENIZE",
              "tokenTemplate":"fpe-all-ascii-tt",
              "tokenGroup":"cts-tg"
            }
          ]
        }
      ]
    }
  ]
}
