{
  "id":"dwarves_fpe",
  "name":"dwarves_fpe",
  "source":{
    "@type":"CSV_FILE",
    "filepath":"dwarves.csv",
    "delimiter":",",
    "qualifier":"",
    "unescapeInput":false,
    "columnCount":2,
    "hasHeaderRow":true
  },
  "destination":{
    "@type":"CSV_FILE",
    "filepath":"dwarves_fpe"
  },
  "fpemode":"ASCII",
  "createBadRecordFile":true,
  "tables":[
    {
      "columns":[
        {
          "name":"Name",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"FPE",
              "key":"bdt_key",
              "characterSet":"latin",
              "tweak":"AUTO"
            }
          ]
        },
         {
          "name":"emailid",
          "action":"ENCRYPT",
          "config":[
            {
              "@type":"FPE",
              "key":"bdt_key",
              "characterSet":"latin",
              "tweak":"AUTO"
            }
          ]
        }
      ]
    }
  ]
}
